@page "/"
@inject IJSRuntime js

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name !</h1>
    </Authorized>
    <NotAuthorized>
        <h1>You are not authorized to access this page </h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<AuthorizeView>
    <Authorized>
        <br><br>
        <button class="btn btn-outline-primary" @onclick="DisplayGreetingMessage">Greetings</button>
    </Authorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async Task DisplayGreetingMessage()
    {
        var authState = await authenticationState;
        var Message = $"Welcome { authState.User.Identity.Name}";
        await js.InvokeVoidAsync("alert", Message);
    }
}